* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:aqua;
}
.ring{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid rgb(255, 120, 37);
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:rgb(255, 120, 37);
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px rgb(255, 120, 37);
  box-shadow:0 0 20px rgb(255, 120, 37);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-5px;
  left:-5px;
  width:100%;
  height:100%;
  border:5px solid transparent;
  border-top:5px solid #ff8d13;
  border-right:5px solid #ff1515;
  border-radius:50%;
  animation:animateC 2s linear infinite;
 }
span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#ff8000;
  top:-16px;
  right:-18px;
  box-shadow:0 0 20px #ff9500;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}
  h3{
    font-size:60px;;
    align-items:center;
    color:#65350f;
  }
  img{
    cursor: pointer;
  }
  h4{
    font-size:90px;;
    align-items:center;
    color:rgb(249, 181, 46);
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#010302;
    box-shadow: 0px 5px 1.5px 0px salmon;
  }
  .logo a{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(189, 233, 118);
    text-decoration: none;
    margin-top:10px;
  }

  .logo img{
    margin: 14px 2px 3px 4px;
    width: 257px;
    height: 115px;
}

  .btn{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color:rgb(249, 181, 46);
    text-decoration: none;
  }
  .glow {
    font-size:40px;
    text-align: center;
  }
  
.btn {
    padding: 9px 25px;
    background-color:#000000;
    border-radius:15px;
    border: 2px solid rgb(246, 168, 60);
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  .cards {
    display: table;
    align-items:center;
    align-content: center;
  }
  .card {
    font-family: "Candara", sans-serif;
    width: 430px;
    overflow: hidden;
    background:#9e9e9e;
    box-shadow: 0px 10px 25px 0px #d9790b;
    display: inline-block;
    flex-direction: column;
    border-radius:20px;
    margin: 2rem;
    cursor: pointer;
  }
  .card:hover{
    transform: scale(1.1);
  }
  .card-image img {
    width: 100%;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit:cover;
  }
  .profile-image img {
    z-index: 2;
    width: 120px;
    height: 120px;
    position: relative;
    margin-top: -85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius:25px;
    border: 20px groove #d9790b;
    transition-duration: 0.4s;
    transition-property: transform;
    cursor: pointer;
}
  .profile-image img:hover {
    transform: scale(1.2);
  }
  .card-content h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 11px;
  }
  .card-content h2{
    font-size: 25px;
    text-align: center;
    margin-bottom: 11px;
    color:gold;
    text-decoration:underline;
    text-decoration-color:rgb(235, 215, 85);
    text-decoration-style: double;
}